{% extends "base-dashboard.html" %}

{% block styles %}
<link href="static/css/customers.css" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div class="main-customers-auto-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipas</th>
                <th>Grupė</th>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Mob. telefonas</th>
                <th>El. paštas</th>
                <th>Automobiliai</th>
                <th>Pasiūlymai</th>
                <th>Prenumerata</th>
                <th>Meistras</th>
                <th>Pastabos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}


{% block footer %}{% endblock %}