{% extends "base-auto.html" %}

{% block styles %}
<link href="/static/css/account-auto.css" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div class="main-account-auto-container">

  <!-- TAB CONTROLS -->
  <input type="radio" name="tab-control" id="tab1" checked>
  <input type="radio" name="tab-control" id="tab2">
  <input type="radio" name="tab-control" id="tab3">
  <input type="radio" name="tab-control" id="tab4">
  <input type="radio" name="tab-control" id="tab5">
  <input type="radio" name="tab-control" id="tab6">

  <!-- TAB LABELS -->
  <ul class="tab-labels">
    <li><label for="tab1">Pranešimai</label></li>
    <li><label for="tab2">Statistika</label></li>
    <li><label for="tab3">Užsakymai</label></li>
    <li><label for="tab4">Mokėtojai</label></li>
    <li><label for="tab5">Naudotojai</label></li>
    <li><label for="tab6">Nustatymai</label></li>
  </ul>

  <!-- TAB CONTENT -->
  <div class="tab-content">

    <!-- ========================= -->
    <!-- PRANEŠIMAI -->
    <!-- ========================= -->
    <div class="tab-panel" id="panel1">
      <div class="account-messages">

        {% if messages %}
          <div class="messages-list">
            {% for msg in messages %}
              <div
                class="message-card {% if not msg.msg_read %}unread{% endif %}"
                data-message-id="{{ msg.id }}"
                data-read="{{ 'true' if msg.msg_read else 'false' }}"
              >
                <div class="message-row">
                  <div class="message-title">
                    {{ msg.msg_title or "Pranešimas" }}
                  </div>
                  <div class="message-date">
                    {{ msg.msg_created_at.strftime("%Y-%m-%d %H:%M") }}
                  </div>
                  <div class="message-toggle" aria-hidden="true">
                    ▼
                  </div>
                </div>
                <div class="message-body">
                  {% set clean_text = msg.msg_content.replace('\\n','\n') %}
                  {% for paragraph in clean_text.split('\n\n') %}
                    <p>{{ paragraph | replace('\n', '<br>') | safe }}</p>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p class="no-messages">Pranešimų nėra.</p>
        {% endif %}
      </div>
    </div>

    <!-- ========================= -->
    <!-- KITI -->
    <!-- ========================= -->
    <div class="tab-panel" id="panel2">
      Statistika
    </div>

    <div class="tab-panel" id="panel3">
      Užsakymai
    </div>

    <div class="tab-panel" id="panel4">
      Mokėtojas
    </div>

    <div class="tab-panel" id="panel5">
        <div class="users-block">
          <div class="users-block-left">
            <h6>Jūsų duomenys</h6>
            <hr>
            <p class="role-row">
                Jūsų rolė
                <span class="arrow-2"></span>
                {% if current_user.super_user %}
                    SUPER NAUDOTOJAS (SN)
                {% else %}
                    NAUDOTOJAS (N)
                {% endif %}
            </p>
            <br>
            <form method="POST" action="">
                    <div class="form-field">
                        <label for="first_name">Vardas</label>
                        <input type="text" id="first_name" name="first_name" class="input-field" value="{{ current_user.first_name }}">
                    </div>
                    <div class="form-field">
                        <label for="last_name">Pavardė</label>
                        <input type="text" id="last_name" name="last_name" class="input-field" value="{{ current_user.last_name }}">
                    </div>
                    <div class="form-field">
                        <label for="mobile_phone">Mob. tel.</label>
                        <input type="text" id="mobile_phone" name="mobile_phone" class="input-field" value="{{ current_user.mobile_phone }}">
                    </div>
                    <div class="form-field">
                        <label for="email">El. paštas</label>
                        <input type="text" id="email" name="email" class="input-field" value="{{ current_user.email }}">
                        {% if current_user.email_verified_at %}<span class="verified-on-symbol" aria-label="Patvirtinta sistemoje" title="Patvirtinta sistemoje" translate="no"></span>{% endif %}
                    </div>
            </form>
          </div>
          <div class="users-block-right">
              <h6>Naudotojų sąrašas</h6>
              <hr>
              <!-- TODO: pridedamas turinys vėliau -->
          </div>
        </div>
    </div>

    <div class="tab-panel" id="panel6">
      Nustatymai
    </div>

  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
