<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if error_code and error_title %}
            {{ error_code }} – {{ error_title }}
        {% else %}
            Skaitmeninimo paslaugos | EFF Energy
        {% endif %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">

    {% block styles %}{% endblock %}
</head>

<body class="loading">
    <div id="loading-overlay">
        <div class="spinner"></div>
        <p id="loading-text">Vykdoma…</p>
    </div>

    <header class="main-header">
        <div class="header-container">
            <div class="logo-block">
                <img class="logo-img" src="/static/img/logo.png" alt="Įmonės logotipas">
            </div>
            <nav class="menu-block">
                <a href="/">Į pradžią</a>
                <a href="/#products">Produktai</a>
                <a href="/#about-us">Apie mus</a>
                <a href="/#contacts">Kontaktai</a>
            </nav>
            <div class="button-block">
                <a
                        class="accessibility-symbols"
                        href="/accessibility-settings"
                        aria-label="Prieinamumo nustatymai"
                        title="Prieinamumo nustatymai"
                        translate="no">
                </a>
                <a
                        class="login-symbols"
                        href="/login"
                        aria-label="Prisijungti"
                        title="Prisijungti"
                        translate="no">
                </a>
            </div>
        </div>
        {% block header %}{% endblock %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

    <script src="/static/js/stay-at-about-us.js"></script>
    <script src="/static/js/hide-spinner.js"></script>
    <script src="/static/js/flash-message.js"></script>
    <script src="/static/js/token-confirm.js"></script>
    <script src="/static/js/page-auto-close.js"></script>
    <script src="/static/js/page-auto-redirect.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
      function resetRecaptcha() {
        if (grecaptcha) {
          grecaptcha.reset();
        }
      }

      {% if success %}
        window.onload = resetRecaptcha;
      {% endif %}
    </script>

</body>
</html>
