{% extends "base-auto.html" %}

{% block styles %}
<link href="static/css/works-auto.css" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div class="main-works-auto-container">
    <div class="column">
        <p class="column-title">Registruota</p>
        <div class="column-content"></div>
    </div>
    <div class="column">
        <p class="column-title">Priimta</p>
        <div class="column-content"></div>
    </div>
    <div class="column">
        <p class="column-title">Vykdoma</p>
        <div class="column-content"></div>
    </div>
    <div class="column">
        <p class="column-title">Laukiama</p>
        <div class="column-content"></div>
    </div>
    <div class="column">
        <p class="column-title">Pabaigta</p>
        <div class="column-content"></div>
    </div>
</div>

{% endblock %}


{% block footer %}{% endblock %}